body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black
}



/* Base styles for the navbar */
.navbar {
    display: flex;
    align-items: center; /* Vertically centers items */
    justify-content:space-between; /* Distribute space between logo and nav-links */
    padding: 0px 20px; /* Adjust padding as needed */
    background-color: transparent; /* Background color of the navbar */
    
    color: white; /* Text color */
    justify-content: center;
    
  }
  
  /* Style for the logo */
  .logo img {
    height: 120px; /* Adjust height as needed */
    width: auto; /* Maintain aspect ratio */
    display: flex;
    justify-content:center;
    padding-right: 50px;
   
  }
  
  /* Style for the navigation links container */
  .container {
    display: flex;
    align-items:center;
    justify-content: center;
   
    
    
  }
  
  /* Style for the navigation links list */
  .nav-links {
    list-style-type: none; /* Remove default list styling */
    margin: 0;
    padding: 0;
    display: flex; /* Display list items in a row */
    justify-content: center;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: normal;
  
    
    
  }
  
  /* Style for each navigation link */
  .nav-links li {
    margin: 0 20px; /* Space between each link */
    display: flex;
    margin-right: 50px;
   
  }
  
  /* Style for the links */
  .nav-links a {
    color: white; /* Link color */
    text-decoration: none; /* Remove underline from links */
    font-size: 16px; /* Font size of links */
  }
  
  /* Optional: Add hover effect */
  .nav-links a:hover {
   color: red
  }

/* Ensure the parent container is centered */
.home-text .container {
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  text-align: left; /* Aligns text inside child elements to the left */
  height: 50vh; /* Height of the container, adjust as needed */
  width: 100%; /* Full width of its parent */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  margin: 50px auto; /* Center container with margins */
  background-image: url('images/jonathan-gallegos-5FGqfV6UjzI-unsplash.jpg'); /* Path to your image */
  background-size: cover; /* Cover the container while maintaining the aspect ratio */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent image repetition */
  opacity: 0.9;
}

/* Style for the heading */
.home-text h1 {
 
  line-height: 2;
  font-size: 2rem;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: normal;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
  text-align: center;
 

  
 
  
  
  
}



  

  /* gallery */


    
  .gallery-container {
    display: inline-block;
    max-width: 100%;
    height: auto;
    flex-wrap: wrap;
    padding-left: 100px;
    padding-top: 10px;
    
    align-items: center;
    justify-content: center;
  }
  
  .gallery-images img {
    height: 400px;
    width: 400px;
    padding: 10px 10px;
    padding-top: 80px;
    border-radius: 30%;
  }


  .gallery-container h1 {
    line-height: 2;
    font-size: 3rem;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 120px;
    color: white;
    padding-top: 20px;

 
   

  }